<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">
        <img src="assets/img/angular-icon.svg" width="30" height="30" alt="" loading="lazy">
    </a>
    <a class="navbar-brand">GOTY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" [routerLink]="['/inicio']" routerLinkActive="active">Inicio </a>
            <a class="nav-item nav-link" [routerLink]="['/votar']" routerLinkActive="active">Votar</a>
        </div>
    </div>
</nav>